body{
	text-align: center;
	padding-bottom: 10vw;
}
body h1, body h2{
	font-size: 400%;
	color: #660066;
	padding: 4vw 0;
}
body h2{
	font-size: 300%;
	color: #660066;
	padding: 2vw 0;
}
p{
	font-size: 150%;
	padding: 1vw 3vw;
}
