html, body{
  background-color: var(--css-bkg);
}
body #submenu, footer{
  background-color: var(--css-menu-bkg);
}
/******************************* BORDERS ***************************************/
body.borders{
  background-color: var(--page-bkg-basic);
}
body.borders #menu li.css::before{
	background: var(--menu-bkg-basic) linear-gradient(hsla(0,0%,100%,0.6), hsla(0,0%,100%,0));
}
body.borders #submenu, body.borders footer{
  background-color: var(--menu-bkg-basic);
}
body.borders #math{
	width: 200px;
	font-size: 250%;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	color: red;
	background-color: purple;
	margin: 100px auto;
	padding: 10px;
	border: 10px ridge orange;
}
body.borders #math a{
	font-size: 100%;
	font-weight: bold;
	text-decoration: underline;
	color: red;
}
body.borders #math a:hover{
	color: blue;
}

body.borders #science{
	font-size: 250%;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
	color: purple;
	background-color: red;
	margin: 100px auto;
	padding: 10px;
	border: 10px dotted yellow;
}
body.borders #music{
	width: 400px;
	height: 200px;
	font-size: 250%;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
	color: orange;
	background-color: blue;
	margin: 100px auto;
	padding: 10px;
	border: 10px dashed black;
	border-radius: 50px;
}
body.borders #london{
	width: 200px;
	height: 200px;
	font-size: 250%;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
	color: orange;
	background-color: brown;
	margin: 100px auto;
	padding: 40px 10px;
	border: 20px dotted pink;
	border-radius: 200px;
}

/******************************* CASTLE ***************************************/
body.castle footer{
	text-align: center;
}

