html, body{
  background-color: var(--html-bkg);
}
body #submenu, footer{
  background-color: var(--html-menu-bkg);
}
body.html #submenu a, footer a{
	color: var(--html-menu-a);
}
body.html #submenu a:hover{
	color: var(--html-menu-hover);
}

/***** INDEX ***** INDEX ***** INDEX ***** INDEX ***** INDEX ***** INDEX *****/

.html.index *{
}
.html.index form{
	margin-top: 6vw;
}
.html.index fieldset, .html.index ol{
	width: 60vw;
	margin-left: 5vw;
}
.html.index fieldset{
	padding: 2vw 3vw 3vw;
	border: 0.4vw solid #FF00FF;
}
.html.index legend{
	padding: 0 0.5vw;
}
.html.index input[type='checkbox']{
	margin: 0.5vw 1vw 0.5vw 0.5vw;
}
/* printer icon */
.html.index img{
	width: 6vw;
	margin: 2vw 35vw 5vw 5vw;
	float: right;
	cursor: pointer;
	visibility: hidden;
}
.html.index ol{
	padding: 5vw 6vw;
	font-size: 150%;
	font-weight: bold;
}
.html.index ol li{
	line-height: 175%;
}
.html.index footer{
	/*color: white;*/
}
