html, body{
  background-color: var(--image-bkg);
}
body #submenu, footer{
  background-color: var(--image-menu-bkg);
}

body.image .nana li{
	clear: both;
}
body.image .nana li a{
	width: 20vw;
	margin-bottom: 1vw;
	display: inline-block;
}
body.image .nana li a:visited{
	color: blue;
}
body.image .nana li span{
	width: 75vw;
	font-size: 80%;
	margin-top: 0.33vw;
	margin-bottom: 0.67vw;
	display: inline-block;
	float: right;
}

