:root{
	--python-bkg-blue: #72bfd1;
	--python-bkg-dark-blue: #639DAF;
	--python-menu-bkg-blue: #C8E5EC;
}
html, body{
  background-color: var(--python-bkg-blue);
}
body #menu, body #submenu, footer{
  background-color: var(--python-menu-bkg-blue);
}

body.strings, body.numbers, body.lists{
	background-color: var(--python-bkg-dark-blue);
}
