:root{
	--python-bkg-dark: #639DAF;
}
html, body{
  background-color: var(--python-bkg);
}
body #submenu, footer{
  background-color: var(--python-menu-bkg);
}

body.strings, body.numbers, body.lists{
	background-color: var(--python-bkg-dark);
}
