:root{
	--page-bkg-basic: aquamarine;
	--menu-bkg-basic: #00ffaa;
	--menu-basic-a: #0000ff;
	--menu-basic-hover: #e600e6;
	--hermione-font: 'Amatic SC', cursive;
	--nana-font: "Comic Sans MS", sans-serif;
	--code-font: "Courier", monospace;
}
*{margin:0; border:none; padding:0; font-size: 1.45vw; box-sizing: border-box;}
ul, ul li{list-style-type: none;}
hr{margin: 1vw 0; border-bottom: 0.1vw solid black;}
html, body{
  font-family: var(--hermione-font);
	background-color: var(--page-bkg-basic);
}
body{
	position: relative;
	padding-bottom: 5vw;
	min-height: 100vh;
}
.print{
	display: none;
}
.downloads{
	font-family: "Comic Sans MS", sans-serif;
	padding: 5.5vw;
}

/***** MENU ***** MENU ***** MENU ***** MENU ***** MENU ***** MENU *****/

#menu, #submenu{
	text-align: center;
	padding: 1vw 0;
	background-color: var(--menu-bkg-basic);
	margin-bottom: 6vw;
}
#menu a, #submenu a, footer a{
	font-size: 100%;
	color: var(--menu-basic-a);
	padding: 0.5vw 5vw;
	text-decoration: none;
}
footer a{
	padding: 0;
}
#menu a:hover, #submenu a:hover, footer a:hover{
	color: var(--menu-basic-hover);
}
#menu li, #submenu li{
	font-size: 120%;
	display: inline;
}
#submenu{
	text-align: left;
  margin-top: -5.8vw;
	margin-bottom: 3vw;
	padding: 0.5vw 0.5vw 0.5vw 1vw;
	border-top: 0.1vw solid #eeeeee;
}
#submenu a{
	font-size: 90%;
	padding: 0.5vw 2.5vw;
}

/***** NANA ***** NANA ***** NANA ***** NANA ***** NANA ***** NANA *****/

.nana, .nana *{
	font-family: var(--nana-font);
}
.nana, .nana ol{
	padding: 0 2vw;
}
.nana ol, .nana ol li{
	list-style-position: outside;
}
.nana p, .nana li{
	padding: 0.5vw 0;
}
.nana pre, .nana code, .nana pre *, .nana code *{
	font-family: var(--code-font);
}
.nana pre{
	padding: 2vw;
	background-color: #C8E5EC;
}
.nana .highlight, .nana .highlight *{
	color: #ffff99;
}
.nana .terminal, .nana .terminal *{
	color: #77FA50;
}
.nana .red, .nana .red *{
	color: #cc0000;
}
.nana .smaller{
	font-size: 80%;
}
.nana .smaller *{
	font-size: 100%;
}
.nana .code, .nana .code *{
	font-family: var(--code-font);
}


/***** LINKS ***** LINKS ***** LINKS ***** LINKS ***** LINKS ***** LINKS *****/

body.links{
	text-align: left;
}
body.links ul.nana h1{
	font-size: 110%;
	text-decoration: underline;
	margin-bottom: 1vw;
}
body.links ul.nana li{
	margin-left: 2vw;
	list-style: disc outside none;
}
body.links ul.nana a{
	color: var(--menu-basic-a);
	text-decoration: none;
}
body.links ul.nana a:hover{
	color: var(--menu-basic-hover);
	text-decoration: underline;
}

/***** FOOTER ***** FOOTER ***** FOOTER ***** FOOTER ***** FOOTER *****/

footer{
	position: fixed;
	bottom: 0;
	width: 100vw;
	text-align: left;
	padding: 1vw 2vw;
	margin-bottom: 0;
}
